{% extends "layout.html" %}

{% block head %}
<style>

body {
  background: url('/image/background.jpg') center;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.nametag-holder {
  background: rgba(0,0,0,0.4);
  margin-top: 5%;
  border-radius: 3px;
}

.nametag-head {
  font-size: 50px;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 0 0 30px #FFFFFF;
  margin: 15px auto 15px auto;
}

.nametag-text {
  font-size: 30px;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 0 0 20px #FFFFFF;
  margin: 15px auto 15px auto;
}

.icon-holder {
  background: rgba(0,0,0,0);
  margin-top: 50%;
  border-radius: 3px;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

</style>
{% endblock %}

{% block content %}
<div class="column ten wide nametag-holder">
  <h1 class="center aligned header nametag-head">Dr. Daniel Himmelstein</h1>
  <p class="center aligned nametag-text"><i>digital craftsman of the biodata revolution</i></p>
</div>

<div class="column ten wide icon-holder">
  <div class="ui tiny images">
    <a href="https://github.com/dhimmel"><img class="ui image spaced" src="/image/github-icon.svg" title="GitHub", alt="GitHub icon"></a>
    <a href="https://twitter.com/dhimmel"><img class="ui image spaced" src="/image/twitter-icon.svg" title="Twitter", alt="Twitter icon"></a>
    <a href="https://impactstory.org/u/0000-0002-3012-7446"><img class="ui image spaced" src="/image/impactstory-icon.svg" title="Impactstory", alt="Impactstory icon"></a>
    <a href="https://keybase.io/dhimmel"><img class="ui image spaced" src="/image/keybase-icon.svg" title="Keybase", alt="Keybase icon"></a>
  </div>
</div>

{% endblock %}

{% block outside %}
<div class="bottomright"><font color="white">Photo by Steve Babuljak<font></div>
{% endblock %}
