<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon"
   href="/image/favicon.ico" />

  <link rel="stylesheet" type="text/css" class="ui" href="/lib/semantic.css">
  <link rel="stylesheet" type="text/css" class="ui" href="/lib/components/card.css">
  <!-- <link rel="stylesheet" type="text/css" class="ui" href="/lib/components/dropdown.css"> -->

  {% block head %}
  {% endblock %}

</head>

<body class="pushable">

<!-- menu sidebar -->
<div class="ui left vertical inverted labeled sidebar menu">
	<a href="" class="brand item">dhimmel.com</a>
	<a class="item {% if active_page == 'home' %} active{% endif%}" href="/">Home</a>
	<a class="item" href="//blog.dhimmel.com">Blog</a>
</div>

<div class="pusher" id="page-background">

  <div class="ui black huge launch right attached button">
    <i class="icon list layout"></i>
    <span class="text" style="display:none;">Menu</span>
  </div>
  
  {% block main %}
  {% endblock %}
  
</div>

<script src="/lib/jquery-3.1.0.min.js"></script>
<script src="/lib/semantic.js"></script>
<!-- <script src="/lib/components/dropdown.js"></script> -->


<script>
// From http://jsfiddle.net/hwc9sLb9/
$(".launch.button").mouseenter(function() {
  $(this).stop().animate({
      width: '150px'
    }, 300,
    function() {
      $(this).find('.text').show();
    });
}).mouseleave(function(event) {
  $(this).find('.text').hide();
  $(this).stop().animate({
    width: '70px'
  }, 300);
});
$(".ui.sidebar").sidebar().sidebar('attach events', '.ui.launch.button');
</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.dhimmel.com"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://piwik.dhimmel.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://piwik.dhimmel.com/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>

</html>

