<div class="ui sidebar inverted vertical menu visible">
	<a href="" class="brand item">dhimmel.com</a>
	<a class="item" href="/">Home</a>
	<a class="item" href="/about">About</a>
	<div class="ui item">
    <span class="header">Research</span>
		<div class="menu">
	  {% for project in projects %}
      <a class="item" href="/research/{{project.project_id}}">{{project.short}}</a>
    {% endfor %}
    </div>
	</div>
	<a class="item" href="//blog.dhimmel.com">Blog</a>
</div>

<script>
$('.ui.sidebar')
  .sidebar('toggle')
;
</script>