{% extends "layout.html" %}
{% set active_page = "research" %}

{% block main %}
<main class="ui page grid">
  <div class="ui one column center aligned grid">

<h2 class="ui horizontal header divider">
  {{project.short}}
</h2>
<p>{{project.description}}</p>

<h2 class="ui horizontal header divider">
  External Project Resources
</h2>

  <div class="ui cards">
    {% for card in cards %}
    <div class="card">
      <a class="image">
        <img src="media/{{card.image}}">
      </a>
      <div class="content">
        <a class="header" href="{{card.link}}">{{card.header}}</a>
        <div class="meta">
          <a href="{{card.link}}">{{card.meta}}</a>
        </div>
        <div class="description">
          {{card.description}}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</main>

{% endblock %}
