{% extends "layout.html" %}
{% set active_page = "research" %}

{% block head %}
  <title>Daniel Himmelstein · Scientist · Research</title>
  <meta name="description" content="Learn about Daniel Himmelstein’s research on innovative informatic approaches to understand and treat human disease."/>

  <link href="lib/components/carousel.css" rel="stylesheet">
{% endblock %}

{% block content_nodiv %}
  {% include 'carousel.html' %}
{% endblock %}

{% block main %}

  <h3>This is the start of my child template</h3>

{% endblock %}
